@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  @apply text-gray-500;
}

.main-layout {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

.input-fields {
  @apply border-b w-full py-2 pr-4 mb-2 focus:outline-none placeholder:text-xs;
}

.buttons {
  @apply px-4 py-2 mt-2 text-white bg-blue-600 rounded-lg hover:bg-blue-900 block;
}

.labels {
  /* @apply ; */
}

.disabled-buttons {
  @apply focus:outline-none focus:ring-0 pointer-events-none opacity-60;
}

@media (min-width: 640px) {
  table {
    display: inline-table !important;
  }

  thead tr:not(:first-child) {
    display: none;
  }
}
